@import "./foundation/settings";
@import "~foundation-sites/scss/foundation";
@include foundation-everything;
@font-face {
  font-family: "PokemonRed";
  src: url("../../../public/Pokemon\ Classic.ttf") format("truetype");
}
*,
*::before,
*::after {
  box-sizing: border-box;
}

:root {
  -moz-tab-size: 4;
  tab-size: 4;
}
